.index{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.venue-list{
    display: flex;
    justify-content: center;
    
}

.venue-list ul{
    display: flex;
    flex-direction: column;
    gap: 15px
}

.venue-card{
    /* border: solid 1px black; */
    width: 350px;
    display: flex;
    align-items: center;
    box-shadow: black 2px 2px 5px;
    gap: 15px;
}

.venue-card a{
    text-decoration: none;
    color: black;
}

.venue-card a>p{
    display: flex;
    justify-content: center;
}

.profile-options{
    border-left: solid 5px #ffc000;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.profile-card{
    /* border: solid 1px black; */
    width: 175px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    box-shadow: black 2px 2px 5px;
}

.profile-card p{
    margin: 5px auto;
}

.profile-card button{
    color: white;
    background-color: black;
    margin-top: 5px;
    border-radius: 5px;
}

.create-btn button{
    background-color: #ffc000;
    color: black;
    border: solid 2px black;
    padding: 10px 20px;
    border-radius: 5px;
}

.logo {
    height: 150px;
    width: 150px;
}