.beer-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: black 2px 2px 5px;
    width: 450px;
    margin-top: 15px;
}

.beer-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filled {
    color: gold;
  }
  
 .empty {
    color: grey;
  }

.rating-show {
    display: flex;
}

.reviews{
    display: flex;
    flex-direction: column;
    width: 350px;
    box-shadow: black 2px 2px 5px;
    padding: 15px;
}

.reviews img{
    height: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
}

.review-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 0px;
}

.user{
    border-bottom: 2px solid black;
}

.beer-card p{
    margin: 8px;
}

.description{
    padding: 10px;
}

.upper-card{
    display: flex;
    gap: 15px;
    margin-top: 5px;
    align-items: center;
}

.beer-photo{
    height: 100px;
    border-radius: 5px;
}