.submit-button:disabled{
    background-color: white;
    color: lightgray;
    border: solid lightgray;
    
}

.create-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 10px;
    border: solid 2px black;
}

.submit-button{
    background-color: #ffc000;
    color: black;
    border: solid 2px black;
    padding: 10px 20px;
}
